*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-size: 62.5%; }

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 8rem 16.5rem;
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
}

main { transform: translateY(-6px);}

header {
    text-align: center;
    margin-bottom: 6.4rem;
}

header h1 {
    font: 600 3.6rem/5.4rem 'Poppins', sans-serif;
    margin-bottom: 1.6rem;
}

header h1 span {
    font-weight: 275;
}

header p {
    font: 400 1.5rem/2.5rem 'Poppins', sans-serif;
    max-width: 54rem;
    margin-inline: auto;
    opacity: .5;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(11rem, 1fr));
    gap: 3rem;
}

article {
    padding: 3rem;
    position: relative;
    background: #fff;
    box-shadow: 0 1.5rem 3rem -1rem hsla(213, 47%, 67%, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

article h2 {
    font: 600 2rem/3rem 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

article p {
    font: 400 1.3rem/2.3rem 'Poppins', sans-serif;
    opacity: .5;
    margin-bottom: 3.5rem;
}

article img {
    width: 6.4rem;
    display: block;
    position: absolute;
    right: 3.3rem;
    bottom: 3.3rem;
}

article::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
}

.supervisor::before { background-color: hsl(180, 62%, 55%); }

.team-builder::before { background-color: hsl(0, 78%, 62%); }

.karma::before { background-color: hsl(34, 97%, 64%); }

.calculator::before { background-color: hsl(212, 86%, 64%); }

.supervisor {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

.team-builder {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.karma {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
}

.calculator {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}

@media (max-width: 78em) {

    .features {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, minmax(25rem, 1fr));
    }

    .supervisor {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .team-builder {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    
    .karma {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    .calculator {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}

@media (max-width: 58em) {

    body { padding: 8.5rem 3.2rem 7.8rem; }

    main { transform: translateY(0); }

    header { margin-bottom: 7.6rem; }
    
    header h1 {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    article {
        flex-basis: 22.2rem;
        padding-top: 2.5rem;
    }

    article h2 { margin-bottom: 3px; }

    article img {
        width: 5.7rem;
        right: 2.8rem;
        bottom: 2.8rem;
    }
}